footer {
	width: 100%;
	border-top: 1px solid #bbb;
	padding: 100px 0;

	.inner {
		width: 1180px;
		margin: 0 auto;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-content: center;
		flex-wrap: wrap;

		p {
			font: 12px/1 'arial';
			color: #999;
			letter-spacing: 2px;
		}

		.member {
			display: flex;
			gap: 10px;
			li {
				width: 40px;
				height: 40px;
				overflow: hidden;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					filter: saturate(0);
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	footer {
		padding: 50px 40px;
		.inner {
			width: 100%;
		}
	}
}
