* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #efefef;
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
}
table,
th,
td {
	border-collapse: collapse;
}
fieldset {
	border: none;
}
.h {
	position: absolute;
	top: -99999px;
	opacity: 1;
}
