main {
	padding: 150px 0px;

	.inner {
		width: 1180px;
		min-height: 500px;
		margin: 0 auto;

		h1 {
			font: normal 30px/1 'arial';
			color: #777;
			margin-bottom: 50px;
		}
	}
}

@media screen and (max-width: $tablet) {
	main {
		width: 100%;
		padding: 100px 40px;

		.inner {
			width: 100%;
		}
	}
}
