.Gallery {
	.loading {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	.frame {
		&::after {
			content: '';
			display: block;
			clear: both;
		}

		opacity: 0;
		transform: translateY(200px);
		transition: opacity 0.5s, transform 0.5s;

		&.on {
			opacity: 1;
			transform: translateY(0px);
		}

		article {
			width: 25%;
			padding: 10px;
			float: left;

			.inner {
				width: 100%;
				padding: 14px;
				background: #fff;
				box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.07);

				.pic {
					width: 100%;
					margin-bottom: 10px;

					img {
						width: 100%;
					}
				}

				h2 {
					font: normal 14px/1.2 'arial';
					color: #777;
					margin-bottom: 30px;
				}
			}
		}
	}
}
