@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');
$tablet: 1179px;
$mobile: 539px;

@import 'common/reset';
@import 'common/header';
@import 'common/footer';
@import 'common/layout';
@import 'common/modal';

@import 'main/visual';
@import 'main/news';
@import 'main/pics';
@import 'main/vids';

@import 'sub/department';
@import 'sub/community';
@import 'sub/gallery';
@import 'sub/youtube';
@import 'sub/member';
@import 'sub/location';
